{% load static %}

<script src="{% static 'assets/js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'plugins/chart.js' %}"></script>
<script src="{% static 'plugins/plotly.js' %}"></script>

<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/extensions/jquery/jquery.min.js' %}"></script>
<script src="{% static 'plugins/sweetalert2.all.js' %}"></script>
<script src="{% static 'assets/extensions/parsleyjs/parsley.min.js' %}"></script>
<script src="{% static 'assets/js/pages/parsley.js' %}"></script>
<script src="{% static 'assets/extensions/simple-datatables/umd/simple-datatables.js' %}"></script>
<script src="{% static 'assets/js/pages/simple-datatables.js' %}"></script>

<script src="{% static 'assets/pages/js/creationSondageJs.js' %}"></script>
<script src="{% static 'assets/pages/js/voirSondageJs.js' %}"></script>
<script src="{% static 'assets/pages/js/resultatSondageJs.js' %}"></script>

<script src="{% static 'assets/pages/js/creationQuestionnaireJs.js' %}"></script>
<script src="{% static 'assets/pages/js/voirquestionnaireJs.js' %}"></script>
<script src="{% static 'assets/pages/js/resultatquestionnaireJs.js' %}"></script>
