{% extends 'sondage/base_html/main.html' %} {% block content %}

<style>
  /* Style du conteneur du bouton radio */
  .radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 10px;
  }

  /* Style caché pour l'input radio */
  .radio-input {
    display: none;
  }

  /* Style pour la marque de vérification */
  .checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 4px; /* Pour rendre le bouton radio carré */
  }

  /* Style lorsque le radio bouton est sélectionné */
  .radio-input:checked + .checkmark {
    background-color: #00800099;
  }

  /* Style pour la marque de vérification */
  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Style pour le symbole de validation */
  .radio-input:checked + .checkmark::after {
    display: block;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
</style>

<div class="page-heading">
  <h6>
    Bienvenue dans notre application de sondage! Nous apprécions votre
    participation et nous sommes impatients de connaître vos opinions.
  </h6>
</div>
<div class="page-content">
  <section class="row">
    <div class="card" style="width: auto; min-width: 100%; max-width: 120%">
      <div id="titre_voirVote" class="card-header"></div>
      <div class="card-body">
        <span id="data">
          <p id="lien_vote"></p>
          <h6>{{vote.titre}}</h6>
          <br />
          <i>{{vote.commentaire}}</i>
          <br />
          <hr />
          <div class="options">
            <table class="table table-striped text-center">
              <th></th>
              {% for list_choix in vote_detail %} {% if list_choix.plus %}
              <th>{{ list_choix.colonne }} - {{ list_choix.plus }}</th>
              {% else %}
              <th>{{ list_choix.colonne }}</th>
              {% endif %} {% endfor %}
              <tr>
                {% for detail in result_detail %}
                <td>{{detail.nom}}</td>

                {% for id in titre_id %} {% if detail.vote_detail_id == id %}
                <td class="text-center text-green fontawesome-ok">
                  <span class="fa-fw select-all fas"></span>
                </td>
                {% else %}
                <td class="text-center"></td>
                {% endif %} {% endfor %}
              </tr>
              {% endfor %}

              <tr>
                <td>
                  <div class="form-group position-relative has-icon-left mb-0">
                    <input
                      type="text"
                      class="form-control form-control-xs text-center"
                      name="nom"
                      id="name"
                      placeholder="Votre nom *"
                    />
                    <div class="form-control-icon">
                      <i class="bi bi-person"></i>
                    </div>
                  </div>
                </td>
                {% for choix in vote_detail%}
                <td>
                  <label style="margin: auto" class="radio-container">
                    <input
                      class="radio-input"
                      type="radio"
                      name="radiogroup"
                      id="choice{{ forloop.counter }}"
                      value="{{ choix.id }}" />
                    <span class="checkmark"></span
                  ></label>
                </td>
                {% endfor %}
              </tr>
            </table>
          </div>
          <input
            type="button"
            name="submit"
            class="btn btn-success"
            id="save_vote"
            value="Enregistrer"
          />
        </span>
      </div>
    </div>
  </section>
</div>

{% endblock %}
