{% load static %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>BASAN</title>
<link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main/app-dark.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'assets/images/logo/Groupe_Basan.png' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'assets/images/logo/Groupe_Basan.png' %}"
/>
<link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/pages/datatables.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'assets/extensions/@fortawesome/fontawesome-free/css/all.min.css' %}"
/>
